:root {
    --primaryColor: #f2545f;
    --secondaryColor : #090707;
    --grayColor: #707070;
    --whiteSmokeColor: #f5f5f5;
}


.programs {
    padding: 40px 0;
}
.programs h4 {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 30px;
    color: var(--secondaryColor);
    width: 100%;
    padding-top: 50px;
}
.programs h4 span {
    color: var(--primaryColor);
}
.programs p {
    color: var(--grayColor);
}
@media (max-width:576px) {
    .programs p{
        padding: 0 16px;
    }
}

.programs .data {
    padding: 40px 0;
}