:root {
    --primaryColor: #f2545f;
    --secondaryColor : #090707;
    --grayColor: #707070;
}


.programs {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
@media (max-width:767px) {
    .programs {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}
.programs img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.programs .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.programs .content .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.programs .content .text h2 {
    font-size: 20px;
    color: var(--primaryColor);
}
.programs .content .text span {
    font-weight: bold;
    font-size: 12px;
    color: var(--grayColor);
}
.programs .content .text p {
    margin-top: 10px;
}
@media (max-width:767px) {
    .programs .content .text p {
        font-size: 15px;
    }
}
.programs .content .icons {
    display: flex;
    gap: 20px;
}
@media (max-width:767px) {
    .programs .content .icons {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
.programs .content .icons .icon-1,
.programs .content .icons .icon-2 {
    display: flex;
    gap: 10px;
}
.programs .content .icons .icon-1 svg ,
.programs .content .icons .icon-2 svg{
    color:  var(--grayColor);
}
.programs .content .icons svg {
    font-size: 15px;
}